/*
     #e67e22
*/



/*----------------------------------------------------*/
/* BASIC SETUP*/
/*----------------------------------------------------*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
}
.clearfix{zoom:1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*----------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding:80px 0;
}

.box{
    padding: 1%;
}


a:active,
a:link{
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 5px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:visited{
    
    color: #555;
    border-bottom: 1px solid transparent;
    
    
}

ul li {
    list-style: none;
}


/*----------------------------------------------------*/
/* HEADERS */
/*----------------------------------------------------*/


h1 ,
h2,
h3{
    font-weight:300;
    text-transform: uppercase;
    font-style: normal;
}

h1{
    margin-top: 0; 
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after {
   display: block;
    height: 5px;
    background-color:#e67e22;
    padding: 0 20px;
    content:"  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/*----------------------------------------------------*/
/* PARAGRAOHES */
/*----------------------------------------------------*/
.long-copy{
    line-height: 145%;
    width: 70;
    margin-left: 15%;
    
    
}
.box h3{
    padding-top:15px;
}
.box p{
    font-size: 90%;
    line-height: 140%;
    padding-top: 10px;
}
span{
    display: block;
    font-style: italic;
    color: aliceblue;
    margin-top: 250px;
}
/*----------------------------------------------------*/
/* BUTTONS */
/*----------------------------------------------------*/
.btn:link, 
.btn:visited,
.sub{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 200px;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
.sub{
    background-color: #e67e22;
    margin-right: 15px;   
}
.btn-ghost:link,
.btn-ghost:visited{
    
    color: #e67e22;   
}
.btn-full:hover,
.btn-full:active,
.sub:hover{
    background-color: #cf6d17;
    color: #fff;
    border: 1px solid #cf6d17;  
}
.btn-ghost:hover,
.btn-ghost:active{
    background-color: #cf6d17;
    color: #fff;
    border: 1px solid #cf6d17;  
}
/*----------------------------------------------------*/
/* HEADER */
/*----------------------------------------------------*/
header{
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))) , url(img/hero.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed; 
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
}

/*----------------------------------------------------*/
/* MAIN NAVBAR */
/*----------------------------------------------------*/
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
    
}
.logo-black{display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 12px 5px;}

/*nav mobil*/
.nav-mobile{
    float: right;
    margin-top: 35px;
    cursor: pointer;
    display: none;
}

.nav-mobile .nav-mobil-icon{
    font-size: 200%;
    color: #fff;
    
}

/*Normal size*/
.main-nav{
   
    float: right;
    list-style: none;
    /*margin-right: 50px;*/
    margin-top: 50px;
}

.main-nav li {
    
    display: inline-block;
    margin-left: 40px;  
    
}

.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    
    
} 
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
/*sticky navi*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    -webkit-box-shadow: 0 2px 2px rgba(196, 196, 196, 0.21);
    box-shadow: 0 2px 2px rgba(196, 196, 196, 0.21);
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color:#555;
    padding: 17px 0;
    
    
} 
.sticky .logo{display: none;}
.sticky .logo-black{display: block;}

.sticky .main-nav{margin-top: 18px;}
/*--------------ICONS----------------*/
ion-icon{
    font-size: 350%;
    display: block;
    color: #e67e22;
    font-weight: ;
}
/*--------------imges meals----------------*/
.section-meals{
    padding: 0;
    background-attachment: fixed;
}
.meals-showcase {
    list-style: none;
    width: 100%;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s; 
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%; 
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
    opacity: 0.7;
     
        
}



.meals-showcase img:hover{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1; 
}
/*--------------SECTION FEATURES----------------*/
.section-features .long-copy{
    margin-bottom: 30px;
}
/*--------------HOW IT IS WORK----------------*/
.section-steps{
    background-color: #f4f4f4;
}
.steps-box{
    margin-bottom: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%; 
}
.steps-box:last-child{
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.work-step{
    margin-bottom: 50px;
}

.work-step:last-of-type{
    margin-bottom: 80px;
}

.work-step div{
    color:#e67e22;
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float:left;
    margin-right: 25px;

}

.btn-app:link,
.btn-app:visited{
    border: none;
}

.btn-app img{
    width: auto;
    height: 50px;
    margin-right: 10px;
    
}
/*--------------CITYS----------------*/
.box img{
    width: 100%;
    margin-bottom: 25px;
    
}
/*ICON*/
.small-icon{
    display: inline-block;
    width: 30px;
    font-size: 120%;
    text-align: center;
    
    margin-right: 10px;
    
    /*---importent!!!!----secrets to align text icons---*/
    
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
.city-feature{
    padding-bottom: 10px;
}
/*----------------------------------------------------*/
/* SECTION CUSTOMERS*/
/*----------------------------------------------------*/
.section-customers{
    background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0, 0.8)) ,to(rgba(0, 0, 0, 0.8))),url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) ,rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    color: #fff;
}
blockquote{
    font-style: italic;
    padding: 2%;
    line-height: 130%;
    display: block;
    
    word-spacing: 1.5px;
    position: relative;
    margin-top: 40px;  
}
cite{
    font-size: 80%;
    margin-top: 25px;
    display: block;
}
blockquote::before{
    content: "\201c";
    margin-right: 15px;
    display: block;
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -3px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/*----------------------------------------------------*/
/* SIGN UP SECTION*/
/*----------------------------------------------------*/
.section-plans{
    background-color: #f4f4f4;
    
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin:5% 48% ;
    
    
    -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.12);
            box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.12);
    
    -webkit-transform: scale(1);
    
    transform: scale(1);
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
    opacity: 0.85;
    
    
     
    
}

.plan-box:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}
.plan-box div{
    /*text-align: center;*/
   
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child{
    background-color:      rgb(235, 235, 235);
    border-top-left-radius: px;
    border-top-right-radius: 5px;
   /* box-shadow: 3px 0px  #e2e2e2;*/
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
    padding: 15px;
}



.plan-price{
    
    color: #e67e22;
    margin-bottom: 10px;
    font-size: 250%;
    font-weight: 300;
    
}

.plan-price span{
    font-size: 40%;
    font-weight: 500;
    margin-top: 29px;
    color: #555;
    
}

.price-meal{
   
   font-size: 80%;
}
.list ul li {
    font-size: 90%;
    padding-bottom: 10px;
    text-align:left
    
        
}
span{
    color: #e67e22;
    margin: 0;
    float: right;
    margin-left: -10px;
    margin-right: 35px
    
}  


/*----------------------------------------------------*/
/* CONTACT SECTION*/
/*----------------------------------------------------*/
.contact-form{
    width: 60%;
    margin: 0 auto;  
}
input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
textarea{
    height: 100px;
    
}
/*------footer--------*/
footer{
    background-color: rgba(47, 47, 47, 0.78);
    padding-bottom: 18px;
    background-attachment: fixed;
    
}

.footer-nav,
{
    list-style: none;
    float: left;
    
}

.footer-nav li{
    display: inline-block;
    text-decoration: none;
    float: left;
    margin-top: 15px;
   
}

.section-links li {
    float: right;
    font-size: 90%;
    margin-left: 25px;
    margin-top: 15px;
    
}

.footer-nav li a{
    font-size: 90%;
    color: aliceblue;
    text-decoration: none;
    border-bottom: 0;
    margin-left: 15px;
    
}


.social{
    color: aliceblue;
    font-size: 180%;
    border-bottom: 0;
    opacity: 0.5;
      
}

.social:hover{
    opacity: 1;
}

.social a{
    margin-left: 15px;
}

.copy{
    color: aliceblue;
    text-align: center;
    font-size: 80%;
    margin-top: 50px;
}



.js--ws-1,
.js--ws-2,
.js--ws-3

{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--ws-4{-webkit-animation-duration: 1s;animation-duration: 1s;} 
    
.js--ws-1 .animated,
.js--ws-2 .animated,
.js--ws-3 .animated{
    opacity: 1;
}







